.App {
	text-align: center;
	margin-top: 100px;
	padding: 100 center;

	.inputBox {
		outline: none;
		padding: 5px 5px 5px 20px;
		font-size: 20px;
		border-radius: 5px;
		border: 1px solid gray;
	}

	button {
		font-weight: bold;
		padding: 5px;
		margin-left: 20px;
	}
}
